<nav id="left-nav">

  <div class="logo">
    <img src="/images/avatar.jpg">
  </div>

  <div class="menu" id="menu">
    <span class="menu-global menu-top"></span>
    <span class="menu-global menu-middle"></span>
    <span class="menu-global menu-bottom"></span>
  </div>

   <ul id="nav" class="nav">
      <li class="current">
        <a class="smoothscroll" href="/#home"><i class="fa fa-home fa-fw"></i>Home</a>
      </li>
      <li>
        <a class="smoothscroll" href="/#about"><i class="fa fa-user fa-fw"></i>About Me</a>
      </li>
      <li>
        <a class="smoothscroll" href="/#resume"><i class="fa fa-file-text fa-fw"></i>Resume</a>
      </li>
      <li>
        <a class="smoothscroll" href="/#blog"><i class="fa fa-briefcase fa-fw"></i>Blog</a>
      </li>
      <li>
        <a class="smoothscroll" href="/#testimonials"><i class="fa fa-comments fa-fw"></i>Testimonials</a>
      </li>
      <li>
        <a class="smoothscroll" href="/#contact"><i class="fa fa-envelope fa-fw"></i>Contact</a>
      </li>
   </ul> <!-- end #nav -->

</nav> <!-- end #nav-wrap -->