<div class="row social-container">
      <ul class="social">
         <li><a href="https://www.facebook.com/rosscj"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://twitter.com/otter311"><i class="fa fa-twitter"></i></a></li>
         <li><a href="https://plus.google.com/u/1/+ConnorRoss311/posts"><i class="fa fa-google-plus"></i></a></li>
         <li><a href="https://www.linkedin.com/profile/view?id=163630721"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://github.com/connor311"><i class="fa fa-github"></i></a></li>
      </ul>
</div>